<app-header></app-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="mensajes.length > 0">
    <ion-list>
      <ion-item *ngFor="let mensaje of mensajes">
        <ion-label>{{ mensaje.de }}: {{mensaje.cuerpo}}</ion-label>
      </ion-item>
    </ion-list>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <form (ngSubmit)="enviar()">
      <ion-input type="text" placeholder="Escriba su mensaje..." slot="start" [(ngModel)]="texto" name="texto">
      </ion-input>
    </form>
  </ion-toolbar>
</ion-footer>