<ion-content>

  <ion-grid fixed>
    <ion-row *ngFor="let msg of mensajes">

      <ion-col offset="3" size="9"  class="message my-message">
        <b>{{ msg.de }} </b>
        <span>{{ msg.cuerpo}}</span>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar color="light">
    <form (ngSubmit)="enviar()">
      <ion-row align-items-center no-padding>
        <ion-col size="10">
          <ion-input [(ngModel)]="texto" name="mensajeInput" placeholder="Escribe tu mensaje aquí" type="text"
            autofocus="true" autocomplete="off" class="message-input"></ion-input>
        </ion-col>
        <ion-col size="2">

          <ion-button type="submit" expand="block" fill="clear" color="primary" class="msg-btn">
            <ion-icon name="send-outline"></ion-icon>
          </ion-button>

        </ion-col>
      </ion-row>
    </form>
  </ion-toolbar>
</ion-footer>
