<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Chat
    </ion-title>
    <ion-title *ngIf="webSocketService.socketStatus" color="primary" slot="end">Conectado al servidor</ion-title>
    <ion-title *ngIf="!webSocketService.socketStatus" color="danger" slot="end">Desconectado del servidor</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" id="chat-mensajes">

  <ion-item *ngFor="let msg of mensajes" class="list-group-item">
    <ion-label>{{msg.de}}: {{msg.cuerpo}}</ion-label>
  </ion-item>

</ion-content>

<ion-footer>
  <ion-toolbar class="ion-text-center">
    <form (ngSubmit)="enviar()">
      <ion-item>
        <ion-input [(ngModel)]="texto" name="mensajeInput" placeholder="Escribe tu mensaje aquí" type="text"
          autofocus="true" autocomplete="off"></ion-input>
        <ion-button type="submit" width="150px" class="boton-enviar" color="light" size="4">
          <ion-icon name="send-outline" color="primary"></ion-icon>
        </ion-button>
      </ion-item>


    </form>
  </ion-toolbar>
</ion-footer>
