<ion-header>
  <ion-toolbar>
    <ion-title>Messenger</ion-title>
    <ion-label slot="end" color="primary" *ngIf="wsService.socketStatus">Conectado</ion-label>
    <ion-label slot="end" color="danger" *ngIf="!wsService.socketStatus">Desconectado</ion-label>
    <ion-label slot="end" color="primary" class="salir" (click)="salir()"><ion-icon name="log-out-outline"></ion-icon></ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid fixed>

    <ion-row>
      <ion-col size="9">
        <ion-item>
          <ion-title>Usuario: <span>{{ wsService.usuario.nombre}}</span></ion-title>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>

      <ion-col size="6">
        <app-lista-usuarios></app-lista-usuarios>
      </ion-col>

      <ion-col size="6">
        <app-chat [nombreUsuario]="wsService.usuario.nombre"></app-chat>
      </ion-col>

    </ion-row>

  </ion-grid>
</ion-content>
