<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sockets
    </ion-title>
    <ion-label *ngIf="wsService.socketStatus" color="secondary" slot="end" class="aviso-conexion">Conectado como {{wsService.usuario.nombre}}</ion-label>
    <ion-label *ngIf="!wsService.socketStatus" color="danger" slot="end" class="aviso-conexion">Desconectado</ion-label>
    <ion-label slot="end" style="color:orange; margin-right: 1em;" (click)="salir()">Salir</ion-label>
  </ion-toolbar>
</ion-header>