body{
    margin-bottom: 100px;
}

footer{
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
}


#chat-mensajes {
    height: 100px;
    border: 1px solid gray;
    border-radius: 5px;
    overflow-y: scroll;
}

.chat-input{
    margin-top: 10px;
}
